body{
    background: gray;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{
    background: white;
}
div.post h2, div.post p{
    padding: 10px;
}
div.container {
    width: 950px;
    margin: auto;
}
div.post img{
    width: 100%;
}

span{
    float: right;
    color: grey;
}
